<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TALENTZ_25</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
    <style>
.floating-notice {
    position: fixed;
    top: 20%;
    left: 0;
    background: #ff5733; /* Change this for a different color */
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 12px 25px;
    display: flex;
    align-items: center;
    gap: 10px;
    box-shadow: 0 0 15px rgba(255, 87, 51, 0.7);
    clip-path: polygon(0% 0%, 90% 0%, 100% 50%, 90% 100%, 0% 100%);
    animation: waveMovement 6s infinite ease-in-out;
    z-index: 9999;
}

/* Icon Style */
.icon {
    font-size: 1.5rem;
}

/* Floating Animation */
@keyframes waveMovement {
    0% { transform: translateY(0) translateX(0); }
    25% { transform: translateY(-8px) translateX(4px); }
    50% { transform: translateY(8px) translateX(-4px); }
    75% { transform: translateY(-5px) translateX(2px); }
    100% { transform: translateY(0) translateX(0); }
}

/* Mobile Responsive */
@media (max-width: 768px) {
    .floating-notice {
        display:none;
        font-size: 1rem;
        /* padding: 10px 20px; */
        /* gap: 8px; */
        position: static;
        width: 100px;
        /* top: 15%;
        left: 5px; */
    }

    .icon {
        font-size: 1.3rem;
    }
}


    </style>
</head>
<body>
    {% include 'navbar.html' %}

    <div class="main text-center container-fluid" style=" background-image:linear-gradient(rgba(0,0,0,0.60),rgba(0, 0, 0, 0.60)),url('static/bgh.jpeg');
    background-size: cover;
    background-position: center;
    width: 100%;
    color: white;
    font-weight:900;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;">
   <br>
    <div class="container" >
      <div class="logo d-flex justify-content-center align-items-center">
        <img data-aos="zoom-in" data-aos-duration="800" src="static/images/ta_logo.jpg"  height="80px"  >
    <h3 style="text-shadow: 2px 2px 4px #000000;font-weight:900;padding-left: 5px;" data-aos="zoom-in"   data-aos-easing="linear"
       data-aos-duration="800">TALENTZ’25 PROJECT EXPO</h3></div><br>
    <h5 style="color:rgb(252 181 20);font-weight:900;" data-aos="zoom-in"  data-aos-easing="linear"
       data-aos-duration="800">DATE: 24 APRIL 2025 </h5><br>
    <h5 style="font-weight:900;"  data-aos="zoom-in"  data-aos-easing="linear"
       data-aos-duration="800">ORGANIZED BY</h5><br>
    <h5 style="text-shadow: 2px 2px 4px #000000;font-weight:900;"  data-aos="zoom-in"  data-aos-easing="linear"
       data-aos-duration="800">DEPARTMENT OF ELECTRICAL AND ELECTRONICS ENGINEERING</h5>
       <div class="row">

        <div class="col-md-2 d-flex justify-content-center align-items-center">
          <img data-aos="zoom-in" data-aos-duration="800" src="static/images/STlogo.png"  height="100px" >
           </div>

       <div class="col-md-8">
       <h5 style="text-shadow: 2px 2px 4px #000000;font-weight:900;"  data-aos="zoom-in"  data-aos-easing="linear"
       data-aos-duration="800">&</h5>
       <h5 style="text-shadow: 2px 2px 4px #000000;font-weight:900;"  data-aos="zoom-in"  data-aos-easing="linear"
       data-aos-duration="800">DEPARTMENT OF ELECTRONICS AND COMMUNICATION ENGINEERING</h5><br>
    <h5 style="text-shadow: 2px 2px 4px #000000;font-weight:900;"  data-aos="zoom-in"  data-aos-easing="linear"
       data-aos-duration="800">STELLA MARY'S COLLEGE OF ENGINEERING</h5>
       <h5 style="text-shadow: 2px 2px 4px #000000;font-weight:900;"  data-aos="zoom-in"  data-aos-easing="linear"
       data-aos-duration="800">(AN AUTONOMOUS INSTITUTION)</h5><br>
    <h5 style="font-weight:900;color:rgb(252 181 20);"  data-aos="zoom-in"  data-aos-easing="linear"
       data-aos-duration="800">In Association with</h5><br>
    <h5 style="text-shadow: 2px 2px 4px #000000;font-weight:900;"  data-aos="zoom-in"  data-aos-easing="linear"
       data-aos-duration="800">AB TECHNOLOGIES</h5>

      </div>

      
      
      
          <div class="col-md-2 d-flex justify-content-center align-items-center">
        <img data-aos="zoom-in" data-aos-duration="800" src="static/images/ablg.png" height="100px"  >
          </div>
        
      </div>
  </div>
  <br>
       
    <br>
  </div>
  <br>
  <div class="floating-notice text-center">
    <span class="icon">🔔</span> ON-SPOT REGISTRATION <br> AVAILABLE
</div>
  <br><br><br>
  
  <div class="container">
    <h1 style="font-weight:900;text-shadow: 2px 2px 4px #000000;" data-aos="fade-right"  data-aos-easing="linear"
       data-aos-duration="800" >ABOUT TALENTZ</h1><hr>
    <br>
    <p style="text-align: justify;line-height: 200%;font-size:18px;text-indent:50px">Talentz Project Expo aims at bringing out the innovative thoughts with inspiring ideas that ignite the young minds. This expo helps in displaying the projects developed by the students as part of their academic activity, thus recognising their work. </p>
  </div>
  <br><br>

  <div class="container">
    <div class="row">
      <div class="col-md-9" style="line-height: 200%;">
          <h1 style="font-weight:900;text-shadow: 2px 2px 4px #000000;" data-aos="fade-right"  data-aos-easing="linear"
             data-aos-duration="800">OBJECTIVES </h1><hr>
          <br>
          <div style="font-size:18px;">
          <p style="text-align: justify;text-indent:100px">To exhibit the skills of the students and to showcase their innovation to the world.</p>
          <br>
          <h1 style="font-weight:900;text-shadow: 2px 2px 4px #000000;" data-aos="fade-right"  data-aos-easing="linear"
          data-aos-duration="800">TOPICS</h1><hr>

      <p style="text-align: justify;text-indent:100px">TALENTZ welcome real time projects from the following fields but not just limited to it</p>
     
      <p style="text-align: justify;text-indent:100px">&#9733; Artificial Intelligence and Robotics (Deep learning and Machine learning)</p>
      <p style="text-align: justify;text-indent:100px">&#9733; Robotics</p>
      <p style="text-align: justify;text-indent:100px" >&#9733; Block Chain Technology</p>
        <p style="text-align: justify;text-indent:100px">&#9733; Internet of Things</p>
    <p style="text-align: justify;text-indent:100px">&#9733; Embedded System</p>
    <p style="text-align: justify;text-indent:100px">&#9733; Power Electronics</p>

    <p style="text-align: justify;text-indent:100px">&#9733; Renewable Energy</p>

    <p style="text-align: justify;text-indent:100px">&#9733; Power Systems</p>

    <p style="text-align: justify;text-indent:100px">&#9733; Automobiles and Mechanical</p>
    <p style="text-align: justify;text-indent:100px">&#9733; VLSI</p>



    </div>
    </div> 
      <div class="col-md-3" style="padding-top:10px">
        <h5 style="font-weight:900;" class="text-center">IMPORTANT DATES</h5>
        <br>
        <div  data-aos="zoom-in"  data-aos-easing="linear"
           data-aos-duration="800" class="  text-center text-white" style="padding:50px;background-image:linear-gradient(#780206,#780206)">
          <h5  style="font-weight:900">Last date to send Title and Abstract	: <br><br> 20-04-2025 </h5>
        </div>
        <br>
        <div  data-aos="zoom-in"  data-aos-easing="linear"
           data-aos-duration="800" class="  text-center text-white" style="padding:50px;background-image:linear-gradient(#780206
    ,#780206)">
          <h5  style="font-weight:900">Acceptance Intimation: <br><br>21-04-2025</h5>
        </div>
        <br>
        <div  data-aos="zoom-in"  data-aos-easing="linear"
           data-aos-duration="800" class=" text-center text-white" style="padding:50px;background-image:linear-gradient(#780206,#780206)">
          <h5 style="font-weight:900">Registration Deadline: <br><br>22-04-2025</h5>
        </div>
        
      </div>
    
    </div>
    </div>
    <br><br><br>
    <div class="container ">
      <div class="row ">
        <div class="col-md-6  shadow p-3 mb-5 bg-light rounded" >
          
      <h3 style="color: darkblue;font-weight:900">VENUE:</h3>
     <br>
       <h4 style="font-weight:900" >POWER ELECTRONICS LABORATORY</h5>
    <br>
    <h5 style="" >DEPARTMENT OF ELECTRICAL AND ELECTRONICS ENGINEERING,</h5>
    <br>
    <h5 style="" >STELLA MARY'S COLLEGE OF ENGINEERING,</h5>
    <br>
    <h6>ARUTHENGANVILAI, KALLUKETTI JUNCTION,  	<br><br>AZHIKKAL RD, TAMIL NADU 629202 </h6>  
  
      </div>
  
         <div class="col-md-6">
           <img src="static/images/CLG IMAGE 1.jpg"    width="100%" height="280px" class="img-fluid">
         </div>
    </div>
  
    </div>

    <br><br><br>
  <h1 class="text-center" style="text-shadow: 2px 2px 4px #111111;font-weight:900;text-transform:uppercase" data-aos="zoom-in" data-aos-easing="linear"
     data-aos-duration="400">FACULTY COORDINATORS</h1>
  <br><br>
  
  <div class="container text-center jumbotron p-5 shadow p-3 mb-5 bg-light rounded" >
    
    <div style="display: flex;flex-wrap:wrap;justify-content:space-around;">
       <div data-aos="flip-up" data-aos-duration="600" class="shadow p-3 mb-5 bg-light rounded mt-5 text-white" style="width:500px;box-sizing:border-box;padding:10px;background-image:linear-gradient(to left,#00b4db,#0083b0)">
           <h1 style="font-size:26px;font-weight:900;text-shadow: 2px 2px 4px #000000;">Mrs.M.E.SHAJINI SHEEBA</h1><hr class="bg-light">
           <h3 style="font-size:18px">Assistant Professor,</h3>
           <h3 style="font-size:18px">Department of Electrical and Electronics Engineering,  </h3>
           <h3 style="font-size:18px">Stella Mary's College of Engineering.</h3>
       </div>
  </div>
  <br>
  <div style="display: flex;flex-wrap:wrap;justify-content:space-around;">
    <div data-aos="flip-up" data-aos-duration="600" class="shadow p-3 mb-5 bg-light rounded mt-5 text-white" style="width:500px;box-sizing:border-box;padding:10px;background-image:linear-gradient(to left,#00b4db,#0083b0)">
        <h1 style="font-size:26px;font-weight:900;text-shadow: 2px 2px 4px #000000;">Mrs.A.B.EVANJALIN </h1><hr class="bg-light">
        <h3 style="font-size:18px">Assistant Professor,</h3>
        <h3 style="font-size:18px">Department of Electronics and Communication Engineering,  </h3>
        <h3 style="font-size:18px">Stella Mary's College of Engineering.</h3>
    </div>
</div>
</div>
  
<br><br><br>

<h1 class="text-center" style="text-shadow: 2px 2px 4px #000000;font-weight:900;" data-aos="zoom-in" data-aos-easing="linear"
     data-aos-duration="400">AB TECHNOLOGIES</h1>
  <br><br>
  <div class="container text-center jumbotron p-5 shadow p-3 mb-5 bg-light rounded" >
      <h1 class="text-center text-danger" style="font-weight:900" data-aos="zoom-in" data-aos-easing="linear"
         data-aos-duration="800">CONVENORS</h1><hr class="bg-dark">
      <div style="display: flex;flex-wrap:wrap;justify-content:space-around;">
         <div data-aos="flip-right" data-aos-duration="600" class="shadow p-3 mb-5 bg-light rounded mt-5 text-white" style="width:500px;box-sizing:border-box;padding:10px;background-image:linear-gradient(to left,#00b4db,#0083b0)">
             <h1 style="font-size:26px;font-weight:900;text-shadow: 2px 2px 4px #000000;">Mr. K.S. KAVIN </h1><hr class="bg-light">
             <h3 style="font-size:18px">Managing Director,</h3>
             <h3 style="font-size:18px">AB Technologies ,Nagercoil.</h3>
             
         </div>
        <div data-aos="flip-left" data-aos-duration="600" class="shadow p-3 mb-5 bg-light rounded mt-5 text-white" style="width:500px;box-sizing:border-box;padding:10px;background-image:linear-gradient(to left,#00b4db,#0083b0)">
             <h1 style="font-size:26px;font-weight:900;text-shadow: 2px 2px 4px #000000;">Ms. A.T.R. KRISHNA PRIYA  </h1><hr class="bg-light">
             <h3 style="font-size:18px">Managing Director,</h3>
             <h3 style="font-size:18px">AB Technologies , Nagercoil.</h3>
             
         </div>
        
    </div>
  </div>
<br><br>
<div class="container">
  <h1 class="text-center" style="text-shadow: 2px 2px 4px #111111;font-weight:900;text-transform:uppercase" data-aos="zoom-in" data-aos-easing="linear"
     data-aos-duration="400">TALENTZ REGISTRATION</h1>
  <br><br>
  <p style="text-align: justify;text-indent:100px;font-size:20px;">At least one of the authors must be a registered participant in the Project Expo. Members who wish to participate may register for the fees listed below</p>
  <p style="text-align: justify;text-indent:100px;font-size:20px;">Once the payment is completed send the screenshot of the receipt to <span style="color: #18abcc;">talentzexpo.abt@gmail.com</span> </p>
</div>
<br><br><br>
<center>
  <div class="w-50"> 
      <table class="table table-bordered text-center">
          <thead class="thead-dark">
          <tr>
              <th>Registration </th>
              <th>Registration Fees (INR)</th>
          </tr>
      </thead>
          <tbody>
          <tr>
              <td>UG/PG students first author registration</td>
              <td>Rs. 500/-</td>
          </tr>
          <tr>
              <td>Additional Author Registration <br>
              <span class="text-danger">  *Including certificate and food</span>
              </td>
              <td>Rs 300/- (each)</td>
          </tr>
          <!-- <tr>
              <td>Co- Author</td>
              <td>500</td>
          </tr> -->
      </tbody>
      </table>
  </div>
</center>
<br><br>
<div class=" container  " style="padding:40px">

  <center>
    
  <h3 class=" font-weight-bold">After making the payment,kindly fill the below Registration form: </h3><br><button class="btn btn-lg btn-primary"><a class="text-white" href="https://forms.gle/Eb46nQNYZjthombZ7">Click here</a></button>
</center>
</div>
<br>
<center>
  <div class="w-50">
      <h1 class="text-center " style="font-weight:900;text-transform:uppercase;text-shadow: 2px 2px 4px #111111;" data-aos="zoom-in"  data-aos-easing="linear"
         data-aos-duration="800">BANK DETAILS</h1>
    <br>
      <table class="table table-bordered ">
          <tr>
              <th>ACCOUNT NAME</th>
              <td>AB TECHNOLOGIES</td>
          </tr>
          <tr>
              <th>BANK NAME</th>
              <td>CANARA BANK</td>
          </tr>
          <tr>
              <th>ACCOUNT NUMBER</th>
              <td>125002496960</td>
          </tr>
          <tr>
            <th>ACCOUNT TYPE</th>
            <td>OD</td>
        </tr>
          <tr>
              <th>IFSC CODE</th>
              <td>CNRB0001112</td>
          </tr>
          
          <tr>
              <th>BRANCH</th>
              <td>MEENAKSHIPURAM, NAGERCOIL.</td>
          </tr>
          <tr>
              <th>UPI ID</th>
              <td>311799368496960@cnrb </td>
          </tr>
      </table>
  </div>

</center>
<br><br><br>
<center>
<div class="w-50">
  <h1 class="text-center " style="text-shadow: 2px 2px 4px #111111;font-weight:900;" data-aos="zoom-in"  data-aos-easing="linear"
         data-aos-duration="800">REWARDS</h1><br>
         <h4 class="text-center" style="">Certificate of appreciation along with cash prize.</h4><br>
    
         <table class="table table-bordered text-center">
          <tr>
              <th>1st Prize</th>
              <td>INR 5000</td>
          </tr>
          <tr>
              <th>2nd Prize</th>
              <td>INR 3000</td>
          </tr>
          <tr>
              <th>3rd Prize</th>
              <td>INR 2000</td>
          </tr>
         
        
         
      </table>
   
</div> </center>
<br><br>
<!-- 
<div class="jumbotron" style="margin:0px">
  <br><br>
  <div class=" ">
  <div class="row">
    <div class="col-md-3 " style="padding-top:30px">
      <img src="static/ablg.png" width="140px"><br><br>
      <p style="text-align: justify;line-height:200%">ICMTEM-2025 The International Conference on Modern Trends in Engineering and Management (ICMTEM 2025) will be held on 24th April 2025 at Stella Mary’s College of Engineering, Kanyakumari, India.</p>

    </div>
    <div class="col-md-3 " style="padding-left: 40px;padding-top:30px">
      <p><b>FOR ICMTEM CONTACT:</b></p>
      <p><b>PROGRAM CO-ORDINATOR <br>(AB TECHNOLOGIES) </b></p>
      <p>ICMTEM - 2025 | Kanyakumari, India</p>
      <p>Call: +91 9789923881 , +91 9840511458 </p>
      <p>WhatsApp: +91 9789923881</p>
      <p>Email: icmtem2025@gmail.com</p>

    </div>
    <div class="col-md-3 " style="padding-left: 40px;padding-top:30px">
      <p><b>FOR TALENTZ CONTACT:</b></p>
      <p>To exhibit the skills of the students and to showcase their innovation to the world.</p>
      <p>TALENTZ - 2025 | Kanyakumari, India</p>
      <p>Call: +91 9566336488 , +91 9840511458 </p>
      <p>WhatsApp: +91 9566336488</p>
      <p>Email: talentzexpo.abt@gmail.com</p>

    </div>
    <div class="col-md-3 bg-light" style="padding:10px;">
      <h5>Venue</h5>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3949.683783072304!2d77.33839087021896!3d8.133639684476929!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b04fae7b453d579%3A0xf4356d0b26d3dd2a!2sStella%20Mary&#39;s%20College%20Of%20Engineering!5e0!3m2!1sen!2sin!4v1709724089173!5m2!1sen!2sin" width="100%" height="250px" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

    </div>
  </div>
</div>

</div> -->
{% include 'footer.html' %}

  <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
  <script>
    AOS.init();
  </script>
</body>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
</html>